body {
  font-family: 'Ubuntu', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
  position:relative;
}

.footer {
  background: lightgreen;
}

#map {
  text-align: left;
  background: deepskyblue;
  /*position:absolute;  */
  padding: 0px;
  /*width:100%;*/
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
  width: 100px;
  height:400px;
  padding: 0;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}
@media all and (min-width: 800px) {
  #map {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  #map {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  .footer {
    order: 4;
  }
}
body {
  padding: 2em;
}
